*{
  background-color: lightblue;
  font-family: 'Potta One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 70px;
}

h2{
  background-color: transparent;
  position: absolute;
  right: 40px;
  bottom: 10px;
  font-size: 30px;
  color: purple;
  display: none;
}

h3{
  text-align:center;
  color: black;
  left:45%;
  font-size: 25px;
}

/* FINE TAG */

.row{
  width: 80%;
  height:300px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: lightblue;
}

[class^="col"]{
  height: 260px;
  width: 200px;
  background-image: url(../img/pattern.png);
  float: left;
  margin-left: 10%;
  margin-top: 20px;
  background-size:contain;
  position: relative;
}

/* INIZIO COLONNE */

.col1:hover{
  background-image: url(../img/img1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col1:hover .show{
  display: block;
}

.col2:hover{
  background-image: url(../img/img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col2:hover .show{
  display: block;
}

.col3:hover{
  background-image: url(../img/img3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col3:hover .show{
  display: block;
}

.col4:hover{
  background-image: url(../img/img4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col4:hover .show{
  display: block;
}

.col5:hover{
  background-image: url(../img/img6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col5:hover .show{
  display: block;
}

.col6{
  background-image: url(../img/img1.png);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
}

#onlyshow{
  display: block;
}

.col7:hover{
  background-image: url(../img/img5.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col7:hover .show{
  display: block;
}

.col8:hover{
  background-image: url(../img/img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col8:hover .show{
  display: block;
}

.col9:hover{
  background-image: url(../img/img3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col9:hover .show{
  display: block;
}

.col10:hover{
  background-image: url(../img/img4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col10:hover .show{
  display: block;
}

.col11:hover{
  background-image: url(../img/img5.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col11:hover .show{
  display: block;
}

.col12:hover{
  background-image: url(../img/img6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.col12:hover .show{
  display: block;
}
