*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color:lightblue;
  position:relative;
  font-family: 'Potta One', cursive;
}

/* TAG DI SISTEMA */

h1{
  text-align:center;
  margin-top: 20px;
  font-size: 70px;
  color: white;
}

h3{
  text-align: center;
  color: black;
  margin-top: 45%;
}

div{
  height:200px;
  width:150px;
  background-color:white;
  position:absolute;
  border-radius: 10px;
  content:url(../img/pattern.png);
}

/* FINE TAG DI SISTEMA */

/* POSIZIONE DEI PAD */

#pad1{
  left:28%;
  top: 100px;
}

#pad1:hover{
  content:url(../img/img1.png);
}

#pad2{
  left:40%;
  top: 100px;
}

#pad2:hover{
  content:url(../img/img2.png);
}

#pad3{
  left:52%;
  top: 100px;
}

#pad3:hover{
  content:url(../img/img3.png);
}

#pad4{
  left:64%;
  top: 100px;
}

#pad4:hover{
  content:url(../img/img4.png);
}

#pad5{
  left:28%;
  top: 350px;
}

#pad5:hover{
  content:url(../img/img6.png);
}

#pad6{
  left:40%;
  top: 350px;
  content:url(../img/img1.png);

}

#pad7{
  left:52%;
  top: 350px;
}

#pad7:hover{
  content:url(../img/img5.png);
}

#pad8{
  left:64%;
  top: 350px;
}

#pad8:hover{
  content:url(../img/img2.png);
}

#pad9{
  left:28%;
  top: 600px;
}

#pad9:hover{
  content:url(../img/img3.png);
}

#pad10{
  left:40%;
  top: 600px;
}

#pad10:hover{
  content:url(../img/img4.png);
}

#pad11{
  left:52%;
  top: 600px;
}

#pad11:hover{
  content:url(../img/img5.png);
}

#pad12{
  left:64%;
  top: 600px;
}

#pad12:hover{
  content:url(../img/img6 .png);
}

/* FINE POSIZIONE PAD */
